body {
    background: url(image/fond.jpg);
}

.tete {
    margin: 0;
    height: 30vh;
    text-align: center;
    color: white;
    font-size: 8vw;
    margin-top: 2%;
}

.tete {
    font-size: 8vw;
    margin-top: 2%;
}

.jeux {
    margin: 0;
    height: 22vh;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    gap: 100px;
}

.tuff {
    flex-direction: column;
}

.Ts {
  padding= 10px;
  display= flex;
  height= 10vh;
}

.colonnes{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.colonne{
    display: block;
    background-color: #1c1c2e;
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.colonne:hover{
    transform: scale(1.05);
    background-color: #2a2a45;
}

p{
    font-size: 18px;
    text-
}
    display: colum;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.colonne{
    height: 20vh;
    display: block;
    background-color: #1c1c2e;
    padding: 20px;
    width: 80vw;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.colonne:hover{
    transform: scale(1.05);
    background-color: #2a2a45;
}

p{
    font-size: 18px;
}
.tuff {
    flex-direction: column;
}

.Ts {
    display: center;
    height: 40vw;
    width: 75vh;
}

