body {
    background: url(image/fond.jpg);
}

.tete {
    margin: 0;
    height: 100vh;
    text-align: center;
    color: white;
}

h1 {
    font-size: 8vw;
    margin-top: 2%;
}

.jeux {
    margin: 0;
    height: 15vh;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    gap: 100px;
}

.tuff {
    flex-direction: column;
}

.Ts {
    display: center;
    height: 40vw;
    width: 75vh;
}
